.gridCell {
  width: 1em;
  height: 1em;
  font: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-appearance: none;

  &:hover {
    background: #f0f0f0;
  }

  &:focus {
    z-index: 1;
  }
}

.contents {
  display: flex;
  height: 100%;
  background: var(--defaultColor);
  position: relative;

  &:hover {
    background: var(--hoverColor);
  }
}

.value {
  font-size: 0.4em;
  margin: auto;
}

.visuallyHidden {
  width: 0;
  height: 0;
  position: absolute;
  contain: strict;
  overflow: hidden;
}
