.grid {
  display: inline-grid;
  grid-gap: 1px;
  background: black;
  border: 1px solid black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  * {
    box-sizing: border-box;
  }
}
